In [6]:
import json
import os

all_ids = json.load(open('all_ids.json', encoding='utf-8'))

files = []
for dev_id in all_ids:
    file_path = os.path.join('cleaned', f'{dev_id}.json')
    files.append(file_path)

In [7]:
people = []
following_n = []
followed_n = []
following_list = []
followed_list = []
commit_n = []
locations = []
type_list = []
bio_list = []
public_repos = []
public_gists = []

for file in files:
    data = json.load(open(file, encoding='utf-8'))

    people.append(data['id'])
    following_n.append(data['following'])
    followed_n.append(data['followers'])
    following_list.append(data['following_list'])
    followed_list.append(data['follower_list'])
    commit_n.append(data['commits'])
    locations.append(data['location'])
    type_list.append(data['type'])
    bio_list.append(data['bio'])
    public_repos.append(data['public_repos'])
    public_gists.append(data['public_gists'])

In [8]:
import pandas as pd

df = pd.DataFrame(
    {
        'id': people, 'following_n': following_n, 'followed_n': followed_n,
        'following_list': following_list, 'followed_list': followed_list,
        'commit_n': commit_n, 'locations': locations, 'type_list': type_list,
        'bio': bio_list, 'public_repos': public_repos, 'public_gists': public_gists,
    }
)

In [9]:
df

,id,following_n,followed_n,following_list,followed_list,commit_n,locations,type_list,bio,public_repos,public_gists
0,10074798,9,1,"[54999, 232176, 383944, 386387, 560676, 182692...",[1143141],181,Trondheim,User,None,11,0
1,10067971,1,5,[11744354],"[11744354, 4060812, 12416920, 15170421, 10870130]",286,Serbia,User,None,24,0
2,10040154,0,11,[],"[2005841, 5494638, 28793381, 31626996, 2604504...",548,None,User,"Frontend developer: Javascript, React, DraftJS...",49,2
3,10047005,6,2,"[135605, 1390196, 3666378, 5382443, 8781649, 1...","[12231461, 19707142]",107,Việt Nam,User,None,41,0
4,10017162,0,2,[],"[3949262, 23435604]",371,None,User,"""If the apocalypse comes, beep me.""",41,1
...,...,...,...,...,...,...,...,...,...,...,...
334,368462,217,2163,"[1839, 4609, 11602, 13041, 19343, 27381, 39191...","[628155, 641753, 800043, 1284069, 1734523, 238...",414,China,User,@W3cplus,45,124
335,3734415,0,2917,[],"[2018010, 567154, 4919118, 1475895, 2832848, 7...",441,chengdu,User,"The quieter you become, the more you are able ...",12,0
336,3939305,50,2643,"[658, 72891, 97227, 153183, 227486, 276834, 29...","[2789188, 902453, 6170899, 1639690, 1106594, 3...",353,中国浙江杭州,User,welcome to http://litesuits.com,95,0
337,4107768,48239,2383,"[4, 26, 85, 107, 133, 155, 185, 198, 230, 232,...","[3604053, 5131269, 4902369, 5088423, 6867996, ...",153,"Póvoa de Varzim, Porto, Portugal",User,None,46,0
338,5139030,0,3154,[],"[1816153, 5005600, 4653478, 3815645, 5832184, ...",716,Mumbai,User,"Bots, AI, advanced web frameworks, ohlc applic...",36,5

In [10]:
df.to_csv('cleaned.csv')