In [4]:
import json
import os

all_ids = json.load(open('all_ids.json', encoding='utf-8'))

files = []
for dev_id in all_ids:
    file_path = os.path.join('cleaned', f'{dev_id}.json')
    files.append(file_path)

In [5]:
people = []
following_n = []
followed_n = []
following_list = []
followed_list = []
commit_n = []
locations = []
type_list = []
bio_list = []

In [6]:
for file in files:
    data = json.load(open(file, encoding='utf-8'))
    personid = data['id']
    following = data['following_list']
    followed = data['follower_list']
    following_num = data['following']
    followed_num = data['followers']
    commits = data['commits']
    location = data['location']
    type1 = data['type']
    bio = data['bio']

    people.append(personid)
    following_n.append(following_num)
    followed_n.append(followed_num)
    following_list.append(following)
    followed_list.append(followed)
    commit_n.append(commits)
    locations.append(location)
    type_list.append(type1)
    bio_list.append(bio)

In [7]:
import pandas as pd

df = pd.DataFrame(
    {
        'id': people, 'following_n': following_n, 'followed_n': followed_n,
        'following_list': following_list, 'followed_list': followed_list, 'commit_n': commit_n,
        'locations': locations, 'type_list': type_list, 'bio': bio_list
    }
)

In [8]:
df

,id,following_n,followed_n,following_list,followed_list,commit_n,locations,type_list,bio
0,10000206,24,10,"[383, 20041, 54385, 66577, 140370, 150330, 231...","[3604053, 10801765, 26204642, 4216141, 6508763...",207,Turkey,User,None
1,10000354,7,10,"[11392560, 11411618, 11424393, 11440475, 11611...","[11392560, 13049237, 11424393, 11411618, 11440...",375,Ireland,User,None
2,10040154,0,11,[],"[2005841, 5494638, 28793381, 31626996, 2604504...",548,None,User,"Frontend developer: Javascript, React, DraftJS..."
3,10030028,271,42,"[1, 2, 80, 420, 499, 579, 1615, 1900, 2289, 33...","[10179239, 10605, 6673982, 3082132, 3949262, 1...",382,"Ibadan,Nigeria",User,Software developer. \r\nI :heart: JavaScript\r...
4,1000912,5,10,"[118883, 245857, 1282248, 6938481, 15487798]","[3963901, 107576, 285687, 1806175, 29447628, 1...",213,Tokyo,User,Developing iOS apps since iPhone OS 2.2.
...,...,...,...,...,...,...,...,...,...
10143,143293,2,30,"[8629, 29193]","[6027, 16177, 45204, 139472, 145415, 211819, 3...",590,"Plano, TX",User,None
10144,14366621,16,11,"[79668, 5726761, 7810310, 11418381, 11713912, ...","[14621180, 13895503, 14574771, 11713912, 13812...",377,None,User,None
10145,14336677,102,26,"[118965, 134491, 161680, 241138, 403133, 47231...","[16752480, 7275224, 8606935, 16430688, 1582787...",254,Princeton,User,"Interest in Natural Language Processing, Deep ..."
10146,14329563,40,16,"[29565, 241138, 250365, 629706, 669967, 120589...","[10905557, 20728543, 7712937, 18255953, 198295...",897,"Seoul, South Korea",User,Working on Audio Programming & Music Informati...
10147,14366908,5,13,"[80, 914122, 8204778, 14958319, 16972095]","[10533596, 9921649, 8880923, 14958319, 8204778...",371,"Tokyo, Japan",User,None

In [9]:
df.to_csv('cleaned.csv')